@inject NavigationManager NavigationManager
@using Eventify.Tools

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Eventify</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="/cadastro-evento" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Cadastrar Evento
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="#" @onclick="Logout" @onclick:preventDefault>
                <span class="bi bi-box-arrow-right-nav-menu" aria-hidden="true"></span> Sair
            </a>
        </div>
    </nav>
</div>

@code {
    private void Logout()
    {
        SessionTools.LimparSessao();
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}